@charset "utf-8";

/* ==================================================
共通
====================================================*/
.catch{
  font-size:1.8rem;
  font-weight: 800;
  padding: 30px;
  letter-spacing: 2px;
  color:#fff;
  line-height: 1.6;
}

.over_view_inner {
  padding-top: 64px;
  
  }
  
  .concept {
  font-size:  1.5rem;
  font-weight: normal;
  display: block;
  padding: 20px 0px;
  }

  .weight_bold{
    font-weight: 700;
    font-size: 1.5rem;
  }
.concept_title{
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 16px 0px;

}

.center{
  text-align: center;
}
/* イベントについて */
.event_title {
  width: 100%;
  margin: 0 0 35px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.event_title img {
  display: block;
  width: 520px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 日程・場所・対象 */
.event_gaiyo {
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
  border: none;
  border-radius: 16px;
  padding: 0px 0px;
  box-sizing: border-box;

}

.event_gaiyo img {
  display: block;
  max-width: 105%;
  height: auto;
  margin: 0 auto;
}
.main-visual {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../img/top/yatsugatake.png) no-repeat center / cover;

}

.banner_150{
  position: absolute;

  right: 30px;

  bottom: 30px;
  text-align: right;

}

@media (max-width: 768px) {

  .catch{
    text-align: center;
    font-size:1.2rem;
  }


  .event_title {
    margin-bottom: 25px;
  }

  .event_title img {
    width: 100px;
    max-width: 85%;
  }

  .event_gaiyo {
    margin-bottom: 45px;
  }


  .event_gaiyo img {
    width: 600px;
    max-width: 100%;
  }
  .pad_top {
    padding-top: 32px;
    
    }


    .banner_150 {

      right: auto;
  
      left: 50%;
  
      bottom: 20px;
  
      transform: translateX(-50%);
  
      width: 90vw;
  
      max-width: none;
  
    }
  
    .banner_150 img {
  
      width: 100%;
  
      height: auto;
  
      display: block;
  
    }

}


